.container-footer{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background: #1B98E0;
    box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.06);
    border-radius: 20px 20px 0px 0px;
    height: 80px;
    margin-top: 20px;
   
}


.div-footer{
    display: flex;
    margin: 0px auto 0px auto;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;

}

.div-footer-sos {
    display: flex;
    padding: 0px 145% 0px 145%;
}

.sos{
    width: 100px;
    height: 100px;
}

.home{
    width: 60px;
    height: 60px;
    padding: 5px;
}

.folder{
    width: 60px;
    height: 60px;
    padding: 5px;
}


@media (max-width: 1000px) {
    .div-footer-sos {
        display: flex;
        padding: 0px 100% 0px 100%;
    }
}

@media (max-width: 700px) {
    .div-footer-sos {
        display: flex;
        padding: 0px 40% 0px 40%;
    }
}

@media (max-width: 375px) {
    .div-footer-sos {
        display: flex;
        padding: 0px 18% 0px 18%;
    }

    .folder{
        width: 50px;
        height: 50px;
    }

    .sos {
        width: 90px;
        height: 90px;
    }

    .home{
        width: 50px;
        height: 50px;
    }
}