body{
    background: #FFFFFF;
}

header{
    display: flex;
    justify-content: center;
}

.container-procura{
    display: flex;
    margin-top: 5%;
    margin-bottom: 1%;
}

.container-procura{
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.opcaoProcura{
    flex-shrink: 1;
    text-align: center;
    padding: 15px;
}

.buscarServico {
    width: auto;
    height: 380px; 
    margin-top: 40px; 
    margin-bottom: 100px;
    padding: 15px;
    cursor: pointer;
   
}

.oferecerServico{
    width: auto;
    height: 380px;  
    margin-top: 40px; 
    margin-bottom: 100px;
    padding: 15px;
    cursor: pointer;
 
}

.container-opcaoProcura{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}